* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav.logo {
    background-color: #ea2e2e;
}
.container {
    max-width: 1200px;
    margin: auto;
}
ul, a, li {
    list-style: none;
    text-decoration: none;
}
.logo button {
    border-radius: 5px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
nav.logo li, a {
    font-size: 18px;
    color: white;
}
nav.menu {
    background-color: #000000;
    max-width: 100%;
    margin: auto;
}
nav.logo ul li:nth-child(2) {
    position: relative
}
nav.logo ul li:nth-child(2) input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 6px;
    border-radius: 5px;
}
nav.logo ul li:nth-child(2) i{
    position: absolute;
    font-size: 15px;
    right: 12px;
    color: black;
    line-height: 30px;
    cursor: pointe;
}
nav.logo ul li:nth-child(3) button{
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    border: 1px solid #000000;
}
nav.logo ul li:nth-child(3) button:hover {
    background-color: #c4c0c0;
}
nav.logo ul li:nth-child(3) i{
    margin-right: 3px;
}
nav.logo ul li:nth-child(4) button {
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    border: 1px solid #000000;
}
nav.logo ul li:nth-child(4) button:hover {
    background-color: #c4c0c0;
}
nav.logo ul li:nth-child(5) button {
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    border: 1px solid #000000;
}
nav.logo ul li:nth-child(5) button:hover {
    background-color: #c4c0c0;
}
nav.logo ul li:nth-child(5) i{
    margin-right: 3px;
}
nav.logo ul li:nth-child(6):hover a{
    color: yellow;
}
nav.logo ul li:nth-child(7):hover a{
    color: yellow;
}
nav.logo ul li:nth-child(8) a{
    color: yellow;
}